## Repository specific files

App_Code/
App_Data/

License.config

# Environment-specific config files (use *.sample as templates)
src/Alloy.Mvc.Template/web.config
src/Alloy.Mvc.Template/ConnectionStrings.config

# Local IIS Express config
applicationHost.config

# NuGet binary
nuget.exe

## Ignore Visual Studio temporary files and build results.

# User-specific files
*.user

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
[Pp]ackages/

.idea/
